/* 
font-family: 'Raleway',
sans-serif;
font-family: 'Montserrat',
sans-serif;
 */
 /* 
background: #232526;
background: -webkit-linear-gradient(to right, #414345, #232526);
background: linear-gradient(to right, #414345, #232526);


 */
 /* Default Classes */
 *{
   font-family: 'Raleway',
   sans-serif;
 }
 body{
    margin: 1vh;
 }
 /* Custom Classes */
 .plus-button{
     font: 700;
     font-size: 8vh;
 }
 .custom-link-a {
    text-decoration: none;
    border: none;
 }
.brand-logos{
    width: 6vh;
    height: auto;
     display: block;
     margin-left: auto;
     margin-right: auto;
}
.gradient-text{
      background: #232526;
      background: -webkit-linear-gradient(to left, #414345, #232526);
      background: linear-gradient(to left, #414345, #232526);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
}
 .container-username {
     text-align: center;
     
 }
 .title-username {
     font-weight:800;
     font-size: 5vh;
     text-transform: uppercase;
     font-family: 'Montserrat',
     sans-serif;
 }
 .container-photo {
     height: 40vh;
     margin: 1vh;
     border-radius: 100vh;
     border: 0.4vh whitesmoke solid;
     -webkit-filter: drop-shadow(0 0 0.75rem #232526);
     filter: drop-shadow(0 0 0.75rem #232526);
     background-image: linear-gradient(to left, #414345, #232526),
         url("../assets/userdata/user-logo.png");
       display: block;
       margin-left: auto;
       margin-right: auto;
  }
 .description{
       font-family: 'Raleway',
       sans-serif;
       color: gray;
       font-size: 2vh;
       padding: 1vh;
 }
 .description-links,
 .description-links :hover,
 .description-links :active,
 .description-links :disabled{
     text-decoration:none;
     text-decoration-style: none;
     font-family: 'Montserrat',
     sans-serif;
    font-size: 2vh;
    font-weight: 600;
 }
