/* 

font-family: 'IBM Plex Sans',
sans-serif;

 */
 /* 
background: #283c86;
background: -webkit-linear-gradient(to left, #45a247, #283c86);
background: linear-gradient(to left, #45a247, #283c86);
 */
 /* Default Classes */
 *{
   font-family: 'IBM Plex Sans',
   sans-serif;
 }
 body{
    margin: 1vh;
    background: whitesmoke;
 }
 /* Custom Classes */
 .gradient{
           background: #283c86;
           background: -webkit-linear-gradient(to left, #45a247, #283c86);
           background: linear-gradient(to left, #45a247, #283c86);
 }

 .plus-button{
     font: 700;
     font-size: 8vh;
 }
 .custom-link-a {
    text-decoration: none;
    border: none;
    background: transparent;
 }
.brand-logos{
    width: 6vh;
    height: auto;
     display: block;
     margin-left: auto;
     margin-right: auto;
}
.gradient-text{

      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
}
 .container-username {
     text-align: center;
     
 }
 .title-username {
     font-weight:800;
     font-size: 5vh;
     text-transform: uppercase;
 }
 .container-photo {
     height: 40vh;
     margin: 1vh;
     border-radius: 100vh;
     border: none;
     -webkit-filter: drop-shadow(0 0 0.75rem  #283c86);
     filter: drop-shadow(0 0 0.75rem  #283c86);
       display: block;
       margin-left: auto;
       margin-right: auto;
  }
 .biography{
       color: rgb(100, 100, 100);
       font-size: 3vh;
       padding: 1vh;
        text-align: center;
    }
 .biography-links,
 .biography-links :hover,
 .biography-links :active,
 .biography-links :disabled {
     text-decoration:none;
     text-decoration-style: none;
    font-size: 2.5vh;
    font-weight: 600;
 }
 .footer{
     display: block;
     text-align: center;
     color: gray;
 }
/* adding animations */


.navbar{
    animation-name: moveFromBottom;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}
 .container-photo{
     animation-name: moveFromBottom;
     animation-duration: 1.5s;
     animation-timing-function: ease-in-out;
 }
 .title-username{
     animation-name: moveFromBottom;
     animation-duration: 2s;
     animation-timing-function: ease-in-out;
 }
 .container-username{
     animation-name: moveFromBottom;
     animation-duration: 2s;
     animation-timing-function: ease-in-out;
 }
  .biography {
      animation-name: moveFromBottom;
      animation-duration: 3s;
      animation-timing-function: ease-in-out;
  }
  .footer{
      animation-name: moveFromBottom;
      animation-duration: 3.5s;
      animation-timing-function: ease-in-out;
  }
/* making custom animations  */
@keyframes moveFromBottom {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}