/* 

font-family: 'Abril Fatface',
cursive;

font-family: 'Raleway',
sans-serif;


 */
 /* 
background: #232526;
background: -webkit-linear-gradient(to right, #414345, #232526);
background: linear-gradient(to right, #414345, #232526);
 */
 /* Default Classes */
 *{
font-family: 'Raleway',
sans-serif;
 }
 body{
    margin: 1vmin;
    background: whitesmoke;
 }
  a,
  a :active,
  a :hover,
  a :disabled {
      text-decoration: none !important;
      font-size: 2.5vh;
      font-weight: 700 !important;
  }
 #corner-button {
     font-size: 6vmax;
     display: block;
     padding: 5px 10px;
 }  
 .custom-link-a {
    text-decoration: none;
    border: none;
    background: transparent;
 }
.brand-logos{
    width: 4vmax;
    height: auto;
     display: block;
     margin-left: auto;
     margin-right: auto;
}
 .container-username {
     text-align: center;
     width: 100%;  
 }
 .title-username {
     font-size: 5vmax;
     text-transform: uppercase;
     font-family: 'Abril Fatface',
     cursive;
     margin: 0;
 }
 .container-photo {
     height: 30vmax;
     border-radius: 100vh;
     border: none;  
       display: block;
     margin: 1vh auto;
 }
 .biography{
       color: rgb(100, 100, 100);
       font-size: 2vmax;
       padding: 1vw;
       margin-top: 1vmin;
        text-align: center;
    }

 .footer{
     display: block;
     text-align: center;
     color: slategrey;
 }
/* adding animations */

.navbar{
    animation-name: moveFromBottom;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}
 .container-photo{
     animation-name: moveFromBottom;
     animation-duration: 1.5s;
     animation-timing-function: ease-in-out;
 }
 .title-username{
     animation-name: moveFromBottom;
     animation-duration: 2s;
     animation-timing-function: ease-in-out;
 }
 .container-username{
     animation-name: moveFromBottom;
     animation-duration: 2s;
     animation-timing-function: ease-in-out;
 }
  .biography {
      animation-name: moveFromBottom;
      animation-duration: 3s;
      animation-timing-function: ease-in-out;
  }
  .footer{
      animation-name: moveFromBottom;
      animation-duration: 3.5s;
      animation-timing-function: ease-in-out;
  }
/* making custom animations  */
@keyframes moveFromBottom {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
    border-radius: 10px;
}
